<!DOCTYPE html>
<html lang="en" ng-app="Thermostat">
<head>
  <meta charset="utf-8">
  <title>Thermostat in Angular</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/stylesheet.css">
</head>
<body ng-controller="ThermostatController as ctrl">
  <div class="container-fluid">
    <div class="col-lg-4 col-lg-offset-4 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
      <div class="jumbotron">
        <h2 class="title">Thermostat</h2>
        <h1 class="temp">{{ctrl.temp()}}</h1>
        <div class="btn-group btn-group-justified" role="group">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="ctrl.up()">Up</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="ctrl.down()">Down</button>
          </div>
          <div ng-show="ctrl.powerSaving()" class="btn-group" role="group">
            <button type="button" class="btn btn-info" ng-click="ctrl.toggle()">Eco</button>
          </div>
          <div ng-hide="ctrl.powerSaving()" class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="ctrl.toggle()">Eco</button>
          </div>
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-default" ng-click="ctrl.resetButton()">Reset</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="src/App.js"></script>
<script src="src/Thermostat.js"></script>
</html>
